

:root {
  --verde: #22c55e;
  --verde-hover: #16a34a;
  --texto: #0f172a;
  --fundo: #ffffff;
}

/* ===== MENU LATERAL ===== */
.nav_lateral {
  color: red;
  margin-top: 250px;
  float: left;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  margin-left: 50px;
  width: 70px; 
  position: relative;
  transition: width 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  position: fixed;      
  top: 0;               
  left: 0;               
  height: 38vh;         
  z-index: 1000;        
}

.fundo{
  background-image: url('../img/fundo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
  
}


.nav_lateral:hover {
  width: 180px;
}


.ul_nav_lateral {
  list-style: none;   
  padding: 15px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;         
}


.link_la {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #22c55e;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1rem;
}


.icone_lateral {
  font-size: 1.6em;
  color: #22c55e;
  transition: color 0.3s ease;
}


.link_la span {
  opacity: 0;
  transform: translateX(-10px);
  transition: all 0.3s ease;
}


.nav_lateral:hover .link_la span {
  opacity: 1;
  transform: translateX(0);
}


.link_la:hover .icone_lateral {
  color: #16a34a; 
}


/* ===== METAS ===== */

/* Espaço do conteúdo principal pra não colar no menu lateral */
.container {
  margin-left: 180px; 
  max-width: 800px;  
}

/* Estilo das metas */
.meta {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 20px;
  margin: 20px auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  max-width: 500px; 
}

.meta:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.meta h4 {
  font-size: 1.1rem;
  margin-bottom: 8px;
  color: #198754;
}

.meta p {
  font-size: 0.9rem;
  color: #333;
}